.section-hero {
   background-color: #2e2f42;

   padding: 72px 0;

   max-width: 320px;
   margin: 0 auto;

   background-image:
      linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
      url("../images/hero/mobile-bg.jpg");

   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

@media (min-resolution: 192dpi) {
   .section-hero {
      background-image:
         linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url("../images/hero/mobile-bg@2x.jpg");
   }
}

@media screen and (min-width: 768px) {
   .section-hero {
      max-width: 768px;
      padding: 112px 0;

      background-image:
         linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url("../images/hero/tablet-bg.jpg");
   }

   .main-text-hero {
      width: 496px;
      font-size: 56px;
   }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {

   .section-hero {
      background-image:
         linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url("../images/hero/tablet-bg@2x.jpg");
   }
}

@media screen and (min-width: 1158px) {
   .section-hero {
      max-width: 1440px;
      padding: 188px 0;

      background-image:
         linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url("../images/hero/desktop-bg.jpg");
   }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {

   .section-hero {
      background-image:
         linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
         url("../images/hero/desktop-bg@2x.jpg");
   }
}

.header-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-list {
   display: none;
}

.address {
   display: none;
}

.menu-btn {
   display: flex;
   align-items: center;
   justify-content: center;

   border: none;
   background: transparent;
   padding: 0;
   cursor: pointer;
}

.logo {
   padding: 16px 0;
}

@media screen and (min-width: 768px) {

   .menu-btn {
      display: none;
   }

   .nav-list {
      display: flex;
      gap: 40px;
   }

   .address {
      display: block;
      margin-left: auto;
   }

   .address-list {
      display: flex;
      flex-direction: column;
      gap: 12px;
   }

   .adress-links {
      padding: 0;

      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
   }

   .logo {
      padding: 24px 0;
   }
}

@media screen and (min-width: 1158px) {

   .address-list {
      flex-direction: row;
      gap: 40px;
   }

   .adress-links {
      padding: 24px 0;

      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
   }
}